<head>
  {% extends 'base.html' %}
  {% load static %}
  {% block title %}Waiyaki Rd Parking{% endblock title %}
  {% load widget_tweaks %} 
</head>
{% block content %}
{% include 'home/navigationBar.html' %}
<div id="homeMainDiv">

  <div class="ui segment" id="homeFlexDiv">

    {% if carPlates and not profile.user.is_superuser %}

      <div class="ui four statistics" id="homeNoPlateItem">
        <div class="statistic">
          <div class="value"><i class="car icon"></i>{{carPlates|length}}</div>
          <div class="label">{{ profile.user }} Cars</div>
        </div>
      </div>

    {% endif %}


    {% if carPlates and not profile.user.is_superuser %}
      {% for plate in carPlates %} 
        <a class="ui basic label" id="homeNoPlateItem">{{ plate.plateNumber }}</a>
      {% endfor %}
    {% endif %}


    {% if not carPlates and not profile.user.is_superuser %}
      <div class="ui icon message" id="homeNoPlateItemPlaceholder">
        <i class="inbox icon"></i>
        <div class="content">
          <div class="header">No car number plates added.</div>
          <p>Number plates of cars linked to your profile appear here.</p>
        </div>
      </div>
    {% endif %}


    {% if profile.user.is_superuser %}
      <div id="homeNoPlateList">
        <button class="ui secondary button" onclick="createParkingGrid()">Creating Parking Spot</button>
        <button class="ui labeled icon button" onclick="addParkingColumns()"><i class="plus icon"></i>Column</button>
        <button class="ui labeled icon button" onclick="decreaseParkingColumns()"><i class="minus icon"></i>Column</button>
      </div>
    {% endif %}
  </div>

  <div id="homeParkingGrid">

    <table class="ui teal table" id="homeParkingTable">
      <thead>
        <tr>
          {% for i in columnCount %}
          <th>Column {{ forloop.counter }}</th>
          {% endfor %}
        </tr>
      </thead>
    
      <tbody>
        {% for row, slots in parkingCells.items %}
          <tr> 
            {% for slot in slots %}
              <td>
                {% if slot.isAvailable == True %}
                  <div class="hoverWrapper">
                    <a href="#" class="ui green basic label homeAvailableLabel" onclick="reserveSlot({{ slot.id }})">Available</a>
                    <a href="#" class="ui black basic label hoverHidden">Reserve</a>
                  </div>
                {% else %}
                  <div class="hoverWrapper">
                    <a href="#" class="ui green basic label homeAvailableLabel">Reserved</a>
                    <a href="#" class="ui black basic label hoverHidden">Reserved</a>
                  </div>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock content %}
{% block scripts %}
<script type="text/javascript">
  function createParkingGrid() {
    fetch('{% url "home:createParkingGrid" %}', {
      method : 'POST',
      headers: { 'Content-Type': 'application/json', 'X-CSRFToken': '{{ csrf_token }}',  },
      body   : JSON.stringify({  }),
    })
    .then(response => {
      if   (response.ok) { location.reload(); } 
      else { alert('Error creating parking grid.'); }
    });
  }


  function reserveSlot(slotId) {
    fetch(`/reserveParkingGrid/${slotId}/`, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json',   'X-CSRFToken': '{{ csrf_token }}' },
      body: JSON.stringify({})
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        alert('Reservation successful!');
        location.reload();  // Refresh the page to show the updated availability
      } 
      else {  alert(data.error || 'Something went wrong.'); }
    });
  }


  function addParkingColumns() {
    fetch('{% url "home:increaseParkingColumns" %}', {
      method : 'POST',
      headers: { 'Content-Type': 'application/json', 'X-CSRFToken': '{{ csrf_token }}',  },
      body   : JSON.stringify({  }),
    })
    .then(response => {
      if   (response.ok) { location.reload(); } 
      else { alert('Error increasing parking columns.'); }
    });
  }


  function decreaseParkingColumns() {
    fetch('{% url "home:decreaseParkingColumns" %}', {
      method : 'POST',
      headers: { 'Content-Type': 'application/json', 'X-CSRFToken': '{{ csrf_token }}',  },
      body   : JSON.stringify({  }),
    })
    .then(response => {
      if   (response.ok) { location.reload(); } 
      else { alert('Error decreasing parking columns.'); }
    });
  }



  $('.autumn.leaf').transition('fade');
</script>
{% endblock scripts %}