{% extends 'base.html' %}
{% load static %}
{% block title %}Waiyaki Rd Parking{% endblock title %}
{% load widget_tweaks %}
</head>

{% block content %}
{% include 'home/navigationBar.html' %}
<div id="homeMainDiv">

  <h2>Reserve Parking Spot: {{ parkingSlot.slotNo }}</h2>
  
  <form class="ui form" action="" method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button class="ui primary button" type="submit">Reserve</button>
    <a href="{% url 'home:home' %}" class="ui secondary button">Cancel</a>
  </form>
</div>
{% endblock %}