#navbarMainDiv{
    width: 100%;
    margin: 0px;
    padding: 5px;
    border-bottom: 1px solid #ECEFF1 !important;
}

#homeMainDiv{
    display: flex;
    flex: 1;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#homeReserveSegmentDiv{
    display: flex;
    width: 40%;
    margin: 0px;
    flex-direction: column;
}

#divFlex {  
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
 }

#homeReserveForm{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}

#homeFlexDiv{
    display: flex;
    flex: 1;
    gap: 20px;
    width: 95%;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
}

#homeFlexPlaceholder{
    margin: 0px;
    width: fit-content;
}

#homeNoPlateList{
    display: flex;
    gap: 10px;
    margin: 0px;
    padding: 0px;
    border: none;
    align-items: center;
    justify-content: center;
}

#homeNoPlateItemPlaceholder{
    width: fit-content;
    height: fit-content;
}

#homeNoPlateItem{
    margin: 0px;
    width: fit-content;
    height: fit-content;
}

#homeParkingGrid{
    display: flex;
    width: 98%;
    height: 80%;
    margin: 10px;
    padding: 5px;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 94vw;
}

#homeParkingTable{
    margin: 0px;
    width: 100%;
    padding: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#homeReservedBtn{ height: fit-content !important; }

#homeParkingRow{
    margin: 0px !important;
    padding: 0px !important;
}

.hoverWrapper {
    display: flex;
    position: relative;
}

.hoverHidden {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hoverWrapper:hover .homeAvailableLabel { display: none; }

.hoverWrapper:hover .hoverHidden {
    display: flex;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.hoverWrapper:not(:hover) .hoverHidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


/* Profile Page */

#profileParentDiv{
    display: flex;
    flex: 1;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#profileHeaderDiv{
    display: flex;
    width: 45vw;
    height: 25vh;
    margin: 10px;
    padding: 10px;
    align-self: center;
    justify-content: flex-start;
}

#profileParkingLogsDiv{
    display: flex;
    flex: 1;
    width: 45vw;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px 10px 0px;
    justify-content: flex-start;
}

#profileNotificationList{
    display: flex;
    gap: 10px;
    width: 100%;
    height: 55vh;
    border: none;
    overflow-y: auto;
    flex-direction: column;
    padding: 10px 10px 10px 0px;
}

#profileNotificationItem{
    width: 70%;
    margin: 0px;
}

#profileNotificationStatus{ margin: 0px 0px 0px 5px; }

#profileIconCard{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 4px;
}

#profileDetailCard{
    display: flex;
    padding: 0px;
    height: fit-content;
    margin: 0px 10px 0px 10px;
}

#profileEditBtn{
    height: fit-content;
    margin: 40px 0px 0px 0px;
}

#profileEditParent{
    display: flex;
    flex: 1;
    width: 100%;
    margin: 0px;
    padding: 0px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#profileEditForm{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
}

#profileEditProfileIcon{
    display: flex;
    width: 100px;
    height: 80px;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    border-radius: 50%;
}

#profileEditProfileIconBtn{
    width: 50%;
    margin: 18px 0px 0px 0px;
}

#profileEditInputDiv{
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

#profileEditInputDiv > div{ width: 48%; }

#profileEditSubmitBtn{  width: fit-content; }